<!DOCTYPE html>
<html>
<head>
    <title>Candidate Registration</title>
</head>
<body>

<h2>Candidate Registration</h2>

<form action="/register" method="POST">

    <label>Candidate ID</label><br>
    <input type="text" name="candidate_id" required><br><br>

    <label>Name</label><br>
    <input type="text" name="name" required><br><br>

    <label>Email</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password</label><br>
    <input type="password" name="password" required><br><br>

    <input type="submit" value="Register">

</form>

<br>

<a href="/login">Already Registered? Login Here</a>

</body>
</html>